{% load staic %}

<!DOCTYPE html>
<html lang="zxx">


<head>
<meta charset="UTF-8">
<meta name="description" content="Adjoba's app Template">
<meta name="keywords" content="Adjoba's app, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Adjoba's | app</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

<div id="preloder">
<div class="loader"></div>
</div>

<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
<i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
<div class="canvas-close">
<i class="icon_close"></i>
</div>

<nav class="main-menu">
<ul>
<li><a href="index-2.html">Page d'accueil</a></li>
<li><a href="property.html">Propriétés</a></li>
<li><a href="blog.html">Nouveautées</a></li>
<li><a href="blog.html">Térrains</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="contact.html">A propos</a></li>
</ul>
</nav>
</li>
</ul>
</div>
</div>


<header class="header-section">
<div class="top-nav">
<div class="container">
<div class="row">
<div class="col-lg-7">
<nav class="main-menu">
<ul>
<li class="active"><a href="index-2.html">Page d'accueil</a></li>
<li><a href="property.html">Propriétés</a></li>
<li><a href="about-us.html">Térrains</a></li>
<li><a href="blog.html">Nouveautées</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
</div>
<div class="col-lg-5">
<div class="top-right">
<div class="language-option">
<i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
<span>Inscription / Connexion </span>
<i class="fa fa-angle-down"></i>
<div class="flag-dropdown">
<ul>
<li><a href="#">Inscription</a></li>
<li><a href="#">Connexion</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nav-logo">
<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="logo">
<a href="index-2.html"><img src="img/logo.png" alt=""></a>
</div>
</div>
<div class="col-lg-9">
<div class="nav-logo-right">
<ul>
<li>
<i class="icon_phone"></i>
<div class="info-text">
<span>cell :</span>
<p>(+225) 53 77 26 14</p>
</div>
</li>
<li>
<i class="icon_map"></i>
<div class="info-text">
<span>Addresse:</span>
<p>Abidjan, <span>Bingerville</span></p>
</div>
</li>
<li>
<i class="icon_mail"></i>
<div class="info-text">
<span>Email:</span>
<p>kocobag@gmail.com</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="hero-section">
<div class="hero-items owl-carousel">
<div class="single-hero-item set-bg" data-setbg="img/hero/hero-1.jpg">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="hero-text">
<p class="room-location"><i class="icon_pin"></i> Cocody Blokosso Embassade</p>
 <h2>Villa Cocody Blokosso Embassade</h2>
<div class="room-price">
<span>Commence avec:</span>
<p>1.650.000.000 FCFA</p>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>320 BP Abidjan</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>8 Salle de bain</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>7 Douches</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>1 Garage</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="single-hero-item set-bg" data-setbg="img/hero/hero-2.jpg">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="hero-text">
<p class="room-location"><i class="icon_pin"></i> Riviera Golf. Cocody, Abidjan</p>
<h2>Villa Riviera Golf Cocody</h2>
<div class="room-price">
<span>Start Form:</span>
<p>1.500.000.000 FCFA</p>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>860 BP ABidjan</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>7 Chambres a couche</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>6 Salles de bain</p>
</li>
 <li>
<i class="fa fa-car"></i>
<p>1 Garage</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="single-hero-item set-bg" data-setbg="img/hero/hero-3.jpg">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="hero-text">
<p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
<h2>Villa 9721 Glen Creek</h2>
<div class="room-price">
<span>Start Form:</span>
<p>$3.000.000</p>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>5201 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>8 Bed Room</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>7 Baths Bed</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>1 Garage</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="thumbnail-pic">
<div class="thumbs owl-carousel">
<div class="item">
<img src="img/hero/dot-1.jpg" alt="">
</div>
<div class="item">
<img src="img/hero/dot-2.jpg" alt="">
</div>
<div class="item">
<img src="img/hero/dot-3.jpg" alt="">
</div>
</div>
</div>
</section>


<div class="search-form">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="search-form-text">
<div class="search-text">
<i class="fa fa-search"></i>
Trouvez Vôtre Maison 
</div>
<div class="home-text">
<i class="fa fa-home"></i>
Maison à vendre
</div>
</div>
<form action="#" class="filter-form">
<div class="first-row">
<select>
<option value="">Villa & Piscine</option>
</select>
<select>
<option value="">Titre</option>
</select>
<select>
<option value="">Quelque soit la ville</option>
</select>
<select>
<option value="">Nombre de douche</option>
</select>
</div>
<div class="second-row">
<select>
<option value="">Nombre de chambre</option>
</select>
<div class="price-range-wrap">
<div class="price-text">
<label for="priceRange">Prix:</label>
<input type="text" id="priceRange" readonly>
</div>
<div id="price-range" class="slider"></div>
</div>
<div class="room-size-range">
<div class="price-text">
<label for="roomsizeRange">Taille:</label>
<input type="text" id="roomsizeRange" readonly>
</div>
<div id="roomsize-range" class="slider"></div>
</div>
<button type="button" class="search-btn">Réchercher</button>
</div>
</form>
</div>
</div>
</div>
</div>


<section class="howit-works spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<span>Trouvez la maison de vos rêves</span>
<h2>Comment ça marche</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4">
<div class="single-howit-works">
<img src="img/howit-works/howit-works-1.png" alt="">
<h4>Cherche et trouve un appartement</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
</div>
</div>
<div class="col-lg-4">
<div class="single-howit-works">
<img src="img/howit-works/howit-works-2.png" alt="">
<h4>Trouve ta pièce</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
</div>
</div>
<div class="col-lg-4">
<div class="single-howit-works">
<img src="img/howit-works/howit-works-3.png" alt="">
<h4>Discuter avec un agent</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
</div>
</div>
</div>
</div>
</section>


<section class="feature-section spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<span>Listing From Our Agents</span>
<h2>Les caractéristiques de nos propriétés</h2>
</div>
</div>
</div>
<div class="row">
<div class="feature-carousel owl-carousel">
<div class="col-lg-4">
<div class="feature-item">
<div class="fi-pic set-bg" data-setbg="img/feature/feature-1.jpg">
<div class="pic-tag">
<div class="f-text">caractéristique</div>
<div class="s-text">A vendre</div>
</div>
<div class="feature-author">
<div class="fa-pic">
<img src="img/feature/f-author-1.jpg" alt="">
</div>
<div class="fa-text">
<span>Rena Simmons</span>
</div>
</div>
</div>
<div class="fi-text">
<div class="inside-text">
<h4>French Riviera Villa</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 180 York Road, London, UK</li>
<li><i class="fa fa-tag"></i> Villa</li>
</ul>
<h5 class="price">$5900<span>/month</span></h5>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>780 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>4</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>3</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>2</p>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="feature-item">
<div class="fi-pic set-bg" data-setbg="img/feature/feature-2.jpg">
<div class="pic-tag">
<div class="f-text">caractéristique</div>
<div class="s-text">A vendre</div>
</div>
<div class="feature-author">
<div class="fa-pic">
<img src="img/feature/f-author-2.jpg" alt="">
</div>
<div class="fa-text">
<span>Rena Johnston</span>
 </div>
</div>
</div>
<div class="fi-text">
<div class="inside-text">
<h4>French Riviera Villa</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 180 York Road, London, UK</li>
<li><i class="fa fa-tag"></i> Villa</li>
</ul>
<h5 class="price">$5900<span>/month</span></h5>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>780 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>4</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>3</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>2</p>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="feature-item">
<div class="fi-pic set-bg" data-setbg="img/feature/feature-3.jpg">
<div class="pic-tag">
<div class="f-text">caractéristique</div>
<div class="s-text">A vendre</div>
</div>
<div class="feature-author">
<div class="fa-pic">
<img src="img/feature/f-author-3.jpg" alt="">
</div>
<div class="fa-text">
<span>Jonathan Walters</span>
</div>
</div>
</div>
<div class="fi-text">
<div class="inside-text">
<h4>French Riviera Villa</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 180 York Road, London, UK</li>
<li><i class="fa fa-tag"></i> Villa</li>
</ul>
<h5 class="price">$5900<span>/month</span></h5>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>780 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>4</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>3</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>2</p>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="feature-item">
<div class="fi-pic set-bg" data-setbg="img/feature/feature-4.jpg">
<div class="pic-tag">
<div class="f-text">caractéristique</div>
<div class="s-text">A vendre</div>
</div>
<div class="feature-author">
<div class="fa-pic">
<img src="img/feature/f-author-3.jpg" alt="">
</div>
<div class="fa-text">
<span>Jonathan Walters</span>
</div>
</div>
</div>
<div class="fi-text">
<div class="inside-text">
<h4>French Riviera Villa</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 180 York Road, London, UK</li>
<li><i class="fa fa-tag"></i> Villa</li>
</ul>
<h5 class="price">$5900<span>/month</span></h5>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>780 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>4</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>3</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>2</p>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="feature-item">
<div class="fi-pic set-bg" data-setbg="img/feature/feature-5.jpg">
<div class="pic-tag">
<div class="f-text">caractéristique</div>
<div class="s-text">A vendre</div>
</div>
<div class="feature-author">
<div class="fa-pic">
<img src="img/feature/f-author-3.jpg" alt="">
</div>
<div class="fa-text">
<span>Jonathan Walters</span>
</div>
</div>
</div>
<div class="fi-text">
<div class="inside-text">
<h4>French Riviera Villa</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 180 York Road, London, UK</li>
<li><i class="fa fa-tag"></i> Villa</li>
</ul>
<h5 class="price">$5900<span>/month</span></h5>
</div>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>780 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>4</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>3</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>2</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="video-section set-bg" data-setbg="img/video-bg.jpg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="video-text">
<a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i class="fa fa-play"></i></a>
<h4>Trouvez l'idéal </h4>
<h2>Agent immobilier près de vous</h2>
</div>
</div>
</div>
</div>
</div>


<div class="top-properties-section spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="properties-title">
<div class="section-title">
<span>Nos meilleures propriétés pour vous</span>
<h2>Meilleures propriétés</h2>
</div>
<a href="#" class="top-property-all">Voir tout</a>
</div>
</div>
</div>
</div>
<div class="container">
<div class="top-properties-carousel owl-carousel">
<div class="single-top-properties">
<div class="row">
<div class="col-lg-6">
<div class="stp-pic">
<img src="img/properties/properties-1.jpg" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="stp-text">
<div class="s-text">A vendre</div>
<h2>Villa 9721 Glen Creek</h2>
<div class="room-price">
<span>Start From:</span>
<h4>$3.000.000</h4>
</div>
<div class="properties-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>5201 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>8 Bed Room</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>7 Baths Bed</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>1 Garage</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="single-top-properties">
<div class="row">
<div class="col-lg-6">
<div class="stp-pic">
<img src="img/properties/properties-2.jpg" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="stp-text">
<div class="s-text">A vendre</div>
<h2>Villa 9721 Glen Creek</h2>
<div class="room-price">
<span>Start From:</span>
 <h4>$3.000.000</h4>
</div>
<div class="properties-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul class="room-features">
<li>
<i class="fa fa-arrows"></i>
<p>5201 sqft</p>
</li>
<li>
<i class="fa fa-bed"></i>
<p>8 Bed Room</p>
</li>
<li>
<i class="fa fa-bath"></i>
<p>7 Baths Bed</p>
</li>
<li>
<i class="fa fa-car"></i>
<p>1 Garage</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="agent-section spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<span>Disponible pour vous aider</span>
<h2>Nos Agents</h2>
</div>
</div>
</div>
<div class="row">
<div class="agent-carousel owl-carousel">
<div class="col-lg-3">
<div class="single-agent">
<div class="sa-pic">
<img src="img/agent/agent-1.jpg" alt="">
<div class="hover-social">
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
</div>
</div>
<h5>Matthew Robbins <span>Founder & Ceo</span></h5>
</div>
</div>
<div class="col-lg-3">
<div class="single-agent">
<div class="sa-pic">
<img src="img/agent/agent-2.jpg" alt="">
<div class="hover-social">
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
</div>
</div>
<h5>Tillie Burns <span>Marketing Manager</span></h5>
</div>
</div>
<div class="col-lg-3">
<div class="single-agent">
<div class="sa-pic">
<img src="img/agent/agent-3.jpg" alt="">
<div class="hover-social">
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
</div>
</div>
<h5>Derrick Lawson <span>Company Agents</span></h5>
</div>
</div>
<div class="col-lg-3">
<div class="single-agent">
<div class="sa-pic">
<img src="img/agent/agent-4.jpg" alt="">
<div class="hover-social">
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
</div>
</div>
<h5>Clifford Colon <span>Saler Manager</span></h5>
</div>
</div>
<div class="col-lg-3">
<div class="single-agent">
<div class="sa-pic">
<img src="img/agent/agent-5.jpg" alt="">
 <div class="hover-social">
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
</div>
</div>
<h5>Clifford Colon <span>Saler Manager</span></h5>
</div>
</div>
</div>
</div>
</div>
</section>




<div class="partner-section">
<div class="container">
<div class="partner-carousel owl-carousel">
<a href="#" class="partner-logo">
<div class="partner-logo-tablecell">
<img src="img/partner/partner-1.png" alt="">
</div>
</a>
<a href="#" class="partner-logo">
<div class="partner-logo-tablecell">
<img src="img/partner/partner-2.png" alt="">
</div>
</a>
<a href="#" class="partner-logo">
<div class="partner-logo-tablecell">
<img src="img/partner/partner-3.png" alt="">
</div>
</a>
<a href="#" class="partner-logo">
<div class="partner-logo-tablecell">
<img src="img/partner/partner-4.png" alt="">
</div>
</a>
<a href="#" class="partner-logo">
<div class="partner-logo-tablecell">
<img src="img/partner/partner-5.png" alt="">
</div>
</a>
</div>
</div>
</div>


<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
<div class="container">
<div class="footer-text">
<div class="row">
<div class="col-lg-3">
<div class="footer-logo">
<div class="logo">
<a href="#"><img src="img/footer-logo.png" alt=""></a>
</div>
<p>Subscribe our newsletter gor get notification about new updates.</p>
<form action="#" class="newslatter-form">
<input type="text" placeholder="Enter your email...">
 <button type="submit"><i class="fa fa-location-arrow"></i></button>
</form>
</div>
</div>
<div class="col-lg-3 offset-lg-1">
<div class="footer-widget">
<h4>Property City</h4>
<ul>
<li><i class="fa fa-caret-right"></i> <a href="#">Cocody</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Yopougon</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Marcory</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Treichville</a></li>
</ul>
<ul>
<li><i class="fa fa-caret-right"></i> <a href="#">Angré</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Grand Bassam</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Bingerville</a></li>
<li><i class="fa fa-caret-right"></i> <a href="#">Abobo</a></li>
</ul>
</div>
</div>
<div class="col-lg-2">
<div class="footer-widget">
<h4>Social</h4>
<ul class="social">
<li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
<li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
<li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
<li><i class="ti-google"></i> <a href="#">Google+</a></li>
</ul>
</div>
</div>
<div class="col-lg-3">
<div class="footer-widget">
<h4>Contact Us</h4>
<ul class="contact-option">
<li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
<li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
<li><i class="fa fa-envelope"></i> <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c1a8afa7aeefa2aeadaeb3ada8a381a6aca0a8adefa2aeac">[email&#160;protected]</a></li>
<li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
</ul>
</div>
</div>
</div>
 </div>
<div class="copyright-text">
<p><p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This app is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="#" target="_blank">K2BAG members</a>
</p></p>
</div>
</div>
</footer>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>


</html>